body {
    background: #fff;
    display: grid;
    place-items: center;
    min-height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
  }

  canvas {
    border: 5px solid green;
    background-color: chocolate;
  }